## Importing packages and the data

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
super_store = pd.read_csv("super_store.csv")

In [3]:
# Table confirmation
super_store.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,7,CA-2014-115812,09-Jun-14,14-Jun-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.28,4,0.0,1.9656
1,10,CA-2014-115812,09-Jun-14,14-Jun-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.90,5,0.0,34.4700
2,172,CA-2014-118962,05-Aug-14,09-Aug-14,Standard Class,CS-12130,Chad Sievert,Consumer,United States,Los Angeles,...,90004,West,OFF-PA-10000659,Office Supplies,Paper,"Adams Phone Message Book, Professional, 400 Me...",20.94,3,0.0,9.8418
3,173,CA-2014-118962,05-Aug-14,09-Aug-14,Standard Class,CS-12130,Chad Sievert,Consumer,United States,Los Angeles,...,90004,West,OFF-PA-10001144,Office Supplies,Paper,Xerox 1913,110.96,2,0.0,53.2608
4,1143,CA-2014-146969,29-Sep-14,03-Oct-14,Standard Class,AP-10915,Arthur Prichep,Consumer,United States,Los Angeles,...,90045,West,OFF-FA-10001561,Office Supplies,Fasteners,Stockwell Push Pins,8.72,4,0.0,2.8776

# 1. Cleaning and Preparing the Data
### Finding nulls

In [4]:
super_store.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

* So no NULLS available in the data

### Finding duplicates
* First run `duplicated()` then `duplicated(keep=False)`  And see the length diff to determine if their is duplicates

In [5]:
super_store.duplicated()
# super_store.duplicated(keep = False)

0       False
1       False
2       False
3       False
4       False
        ...
1988    False
1989    False
1990    False
1991    False
1992    False
Length: 1993, dtype: bool

* No duplicates in the data since the Length: 1993 was in both entries

### Cheking Datatypes correctness

In [6]:
super_store.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

### Changing date columns to correct format and confirming them

In [7]:
super_store["Ship Date"] = pd.to_datetime(super_store["Ship Date"], format = '%d-%b-%y')

In [8]:
super_store["Order Date"] = pd.to_datetime(super_store["Order Date"], format = '%d-%b-%y')

In [9]:
# super_store.head()
super_store.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

# 2. Sales Performance Analysation

#### Total Sales

In [10]:
total_sales = round(np.sum(super_store['Sales']), 2)
print(total_sales)

484247.5

#### Total quantity

In [11]:
total_quantity = np.sum(super_store['Quantity'])
print(total_quantity)

7581

#### Top 5 products by total sales

In [12]:
top_5_products_by_sales = super_store.sort_values(by = 'Sales', ascending = False)['Product Name'].head()
top_5_products_by_sales

1725    Cisco TelePresence System EX90 Videoconferenci...
689                  Ibico EPK-21 Electric Binding System
137           High Speed Automatic Electric Letter Opener
1686            Lexmark MX611dhe Monochrome Laser Printer
923     HP Designjet T520 Inkjet Large Format Printer ...
Name: Product Name, dtype: object

### Region with highest revenue

In [13]:
regions = ['South', 'Central', 'West', 'East']
rev_by_region ={region: round(np.sum(super_store['Sales'][super_store['Region'] == region]), 2) for region in regions}

max_rev = max(rev_by_region, key=rev_by_region.get)
print(f"Region with Highest Revenue: {max_rev} ({rev_by_region[max_rev]})")

Region with Highest Revenue: West (147883.03)

## Adding Month Column for Analysation

In [14]:
super_store["Month"] = super_store["Order Date"].dt.strftime("%B")

In [15]:
super_store.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Month
0,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.28,4,0.0,1.9656,June
1,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.90,5,0.0,34.4700,June
2,172,CA-2014-118962,2014-08-05,2014-08-09,Standard Class,CS-12130,Chad Sievert,Consumer,United States,Los Angeles,...,West,OFF-PA-10000659,Office Supplies,Paper,"Adams Phone Message Book, Professional, 400 Me...",20.94,3,0.0,9.8418,August
3,173,CA-2014-118962,2014-08-05,2014-08-09,Standard Class,CS-12130,Chad Sievert,Consumer,United States,Los Angeles,...,West,OFF-PA-10001144,Office Supplies,Paper,Xerox 1913,110.96,2,0.0,53.2608,August
4,1143,CA-2014-146969,2014-09-29,2014-10-03,Standard Class,AP-10915,Arthur Prichep,Consumer,United States,Los Angeles,...,West,OFF-FA-10001561,Office Supplies,Fasteners,Stockwell Push Pins,8.72,4,0.0,2.8776,September

### Saving the cleaned data

In [16]:
super_store.to_csv('SuperStore_2014.csv', index = False)